body{padding:0; margin:0;}

.full{
	top:24px;
	height:100% ; 
	width:100%; 
	position:absolute;
}

.fullHeight{
	height:100% ; 
	position:fixed;
}

.topdiv{
	height:50px ; 
	width:100%; 
	position:fixed;
	z-index:99;
}

.bg-purple-light {
    background: #e5e9f2;
}

.bg-purple-dark {
    background: #324157;
}
  
.grid-content {
    height: 50px;
}

.img{
  	position: relative;
  	left: 30px;
  	top: 5px;
	height:40px ; 
	width:40px ; 
}

font{
	color: #bfcbd9;
	position: relative;
  	left: 40px;
  	top: -5px;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.serchInput{
	top:10%;
	width:60%;
	position: relative;
  	left: 100px;
}

.exit_button{
	height:100%;
	width:100%;
	background:#324157;
	border:0px;
	
}

.exit{
	height:25px ; 
	width:25px ; 
}
.chart{
	width: 100%;
	height:400px;
	position: relative;
  	top: 20px;
}

.row_bottom {
    margin-bottom: 40px;
}

.box-card {
	position: relative;
    top: 50px;
}

.box-cart-width{
	width: 100%;
}